<ul class="vertical menu" data-responsive-menu="drilldown medium-dropdown" style="width: 300px;">
  <li>
    <a href="#"><i class=""></i> <span>Channels</span></a>
    <ul class="vertical menu">
      <li>
        <a href="#"><i class=""></i> <span>Code Channel</span></a>
        <ul class="vertical menu">
          <li><a href="#"><i class=""> </i><span>Ruby Channel</span></a></li>
        </ul>
      </li>
      <li><a href="#"><i class=""></i> <span>RoR Channels</span></a></li>
    </ul>
  </li>
  <li>
    <a href="#"><i class=""></i> <span>Beach Channel</span></a>
    <ul class="vertical menu">
      <li><a href="#"><i class=""></i> <span>Surf Channel</span></a></li>
      <li><a href="#"><i class=""></i> <span>Sun Tan Channel</span></a></li>
    </ul>
  </li>
  <li>
    <a href="#"><i class=""></i> <span>Sunscreen Channel</span></a>
    <ul class="vertical menu">
      <li><a href="#"><i class=""></i> <span>Sharks Channel</span></a></li>
      <li><a href="#"><i class=""></i> <span>Whale Channel</span></a></li>
    </ul>
  </li>
</ul>
